@using Database.Shared.Paginacion;
@* @model PaginacionList<Database.Shared.Models.Producto>
 *@
 @model PaginacionList<Database.Shared.Models.ProductoInventario>
@{
    ViewData["Title"] = "Lista";
}
@await Html.PartialAsync("_MensajeExito")

<br />
<form asp-action="VencidosClinica" method="get">
    <div class="col-md-12">
        <div class="input-group">
            <div class="input-group-prepend">
                <input type="submit" value="Buscar" class="btn btn-success"></input>
            </div>
            <input type="text" name="buscar" value="@ViewData["CurrentFilter"]" class="form-control"
                placeholder="Buscar Producto...">
        </div>
    </div>
</form>
<br />
@* 
<div class="col-md-12">
    <div class="position-relative form-group">
        <a asp-controller="Productos" asp-action="" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger">
            Reportes &nbsp; <i class="fas fa-file-pdf"></i>
        </a>
    </div>
</div> *@

<div class="form-row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="mb-0 table table-hover ">
                        <thead>
                            <tr>
                                <th>Nombre Producto</th>
                                <th>Codigo Referencia</th>
                                <th>Fecha Vencimiento</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Producto.NombreProducto</td>
                                    <td>@item.Producto.CodigoReferencia</td>
                                    <td>@item.FechaVencimientoArticuloCompra</td>
                                    <td>
                                        @if (item.Producto.TipoProductoId == 1 || item.Producto.TipoProductoId == 2)
                                        {
                                            <a href="@Url.Action("ModificarMedicamentosVencidos","Productos", new {id = @item.Id})"
                                               class="btn btn-warning">
                                                Modificar
                                            </a>
                                            <a href="@Url.Action("EliminarMedicamentosVencidos","Productos", new {id = @item.Id,bodegaId = @item.BodegaId})"
                                               class="btn btn-danger">
                                                Eliminar
                                            </a>
                                        }
                                        else if (item.Producto.TipoProductoId == 11)
                                        {

                                            <a href="@Url.Action("ModificarInsumosFarmacia","Productos", new {id = @item.Id})"
                                               class="btn btn-warning">
                                                Modificar
                                            </a>
                                        }
                                    </td>
                                    <td><i class="fas fa-clock" data-toggle="tooltip" data-placement="top" title="fecha vencida"></i></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}



<br />
<a asp-action="VencidosClinica" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @prevDisabled">
    Anterior
</a>
<a asp-action="VencidosClinica" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @nextDisabled" class="">
    Siguiente
</a>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}