@using sistema.Models
@using Database.Shared.Models
@model EmpleadoBaseViewModel

<form id="formModificarMedico" asp-controller="Empleado" asp-action="Modificar" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Empleado.Id" />
    <input type="hidden" name="TipoEmpleadoFormulario" value="Medico" data-bind="value: TipoEmpleadoFormulario" />
    <input type="hidden" name="FirmaEmpleadoPath" value="@Model.Empleado.FirmaEmpleado" />

    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <h5 class="card-header">Modificar Médico</h5>
            <div class="card-body">

                <h5 class="card-title text-primary">Datos Personales</h5>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Nombre<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Nombre, new { @class = "form-control", placeholder = "Nombre", data_bind = "value: Nombre" })
                            @Html.ValidationMessageFor(a => a.Empleado.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Apellido<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Apellido, new { @class = "form-control", placeholder = "Apellido", data_bind = "value: Apellido" })
                            @Html.ValidationMessageFor(a => a.Empleado.Apellido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Telefono<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Telefono, new { type = "number", @class = "form-control", placeholder = "Telefono", data_bind = "value: Telefono" })
                            @Html.ValidationMessageFor(a => a.Empleado.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Telefono 2</label>
                            @Html.TextBoxFor(a => a.Empleado.Telefono_2, new { type = "number", @class = "form-control", placeholder = "Telefono 2", data_bind = "value: Telefono_2" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Email</label>
                            @Html.TextBoxFor(a => a.Empleado.Email, new { type = "text", @class = "form-control", placeholder = "Email", data_bind = "value: Email" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">DPI<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Dpi, new { type = "number", step = "any", @class = "form-control", placeholder = "DPI", data_bind = "value: Dpi" })
                            @Html.ValidationMessageFor(a => a.Empleado.Dpi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">NIT<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Nit, new { type = "number", @class = "form-control", placeholder = "NIT", data_bind = "value: Nit" })
                            @Html.ValidationMessageFor(a => a.Empleado.Nit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Género</label>
                            <select class="form-control" asp-for="Empleado.Genero" data-bind="value: Genero">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Estado Civil</label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="Empleado.EstadoCivil" data-bind="value: EstadoCivil">
                                <option value="Soltero/a">Soltero/a</option>
                                <option value="Casado/a">Casado/a</option>
                                <option value="Viudo/a">Viudo/a</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Fecha de Nacimiento<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Credenciales, new { @class = "form-control", type = "date", data_bind = "value: Credenciales" })
                            @Html.ValidationMessageFor(a => a.Empleado.Credenciales, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Edad</label>
                            @Html.TextBoxFor(a => a.Empleado.Edad, new { type = "text", @class = "form-control bg-light", placeholder = "Calculada automáticamente", data_bind = "value: Edad", @readonly = "readonly", tabindex = "-1" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Colegiado<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.Colegiado, new { @class = "form-control", placeholder = "Colegiado", data_bind = "value: Colegiado" })
                            @Html.ValidationMessageFor(a => a.Empleado.Colegiado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Dirección</label>
                            @Html.TextBoxFor(a => a.Empleado.Direccion, new { @class = "form-control", placeholder = "Dirección", data_bind = "value: Direccion" })
                        </div>
                    </div>
                </div>

                <h5 class="card-title text-primary mt-3">Datos Laborales</h5>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Tipo de contrato</label>
                            <select class="form-control select2bs4" style="width: 100%;" asp-for="Empleado.TipoContrato" data-bind="value: TipoContrato">
                                <option value="Fijo">Fijo</option>
                                <option value="Eventual">Eventual</option>
                                <option value="Vacacionista">Vacacionista</option>
                                <option value="Indefinido">Indefinido</option>
                                <option value="Mixto">Mixto</option>
                                <option value="ServiciosProfesionalesEIndependientes">Servicios Profesionales e Independientes</option>
                                <option value="SinContrato">Sin Contrato</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">¿Es Residente?</label>
                            <select class="form-control" asp-for="Empleado.Residente" data-bind="value: Residente">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="EspecialidadIdSeleccionada" class="font-weight-bold">Especialidad<span class="text-danger"> * Obligatorio</span></label>
                            <select asp-for="EspecialidadIdSeleccionada" asp-items="Model.Especialidades" data-bind="value: EspecialidadIdSeleccionada" class="form-control">
                                <option value="">Seleccione una especialidad</option>
                            </select>
                            <span asp-validation-for="EspecialidadIdSeleccionada" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Salario</label>
                            @Html.TextBoxFor(a => a.Empleado.Salario, new { @class = "form-control", placeholder = "Salario", data_bind = "value: Salario" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Direccion de la clinica</label>
                            @Html.TextBoxFor(a => a.Empleado.DireccionClinica, new { @class = "form-control", placeholder = "Direccion de la clinica", data_bind = "value: DireccionClinica" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Telefono de la clinica</label>
                            @Html.TextBoxFor(a => a.Empleado.TelefonoClinica, new { type = "number", @class = "form-control", placeholder = "Telefono de la clinica", data_bind = "value: TelefonoClinica" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Sucursal</label>
                            <select class="form-control" asp-items="Model.ListaSucursales" asp-for="Empleado.SucursalId" data-bind="value: SucursalId"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Tipo Empleado</label>
                            <select class="form-control" asp-for="Empleado.TipoEmpleado" data-bind="value: TipoEmpleado">
                                <option value="Profesional">Profesional</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Jornada de Trabajo</label>
                            <select class="form-control" asp-for="Empleado.JornadaTrabajo" data-bind="value: JornadaTrabajo">
                                <option value="">Seleccione una opción</option>
                                <option value="Diurna">Diurna</option>
                                <option value="Mixta">Mixta</option>
                                <option value="Nocturna">Nocturna</option>
                                <option value="No aplica">No está sujeto a jornada</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row mt-2">
                    <div class="col-md-6">
                        <div class="position-relative form-group border p-2 bg-light rounded">
                            <label class="font-weight-bold">Fecha de Inicio de Labores<span class="text-danger"> * Obligatorio</span></label>
                            @Html.TextBoxFor(a => a.Empleado.FechaInicioLabores, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", data_bind = "value: FechaInicioLabores" })
                            @* @Html.TextBoxFor(a => a.Empleado.FechaInicioLabores, new { type = "date", @class = "form-control", data_bind = "value: FechaInicioLabores" }) *@
                            <span class="d-block mt-2 font-weight-bold text-info">
                                <i class="fa fa-calendar-check"></i> @Model.Empleado.FechaInicioLabores.ToString("dddd, dd 'de' MMMM 'de' yyyy")
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="position-relative form-group border p-2 bg-light rounded">
                            <label class="font-weight-bold">Vacaciones Programadas<span class="text-danger"> * Obligatorio</span></label>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="small font-weight-bold text-muted">Fecha Inicial</label>
                                    @Html.TextBoxFor(a => a.Empleado.VacacionesProgramadas, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", data_bind = "value: FechaInicialVacaciones" })
                                    @* @Html.TextBoxFor(a => a.Empleado.VacacionesProgramadas, new { type = "date", @class = "form-control", data_bind = "value: FechaInicialVacaciones" }) *@
                                </div>
                                <div class="col-md-6">
                                    <label class="small font-weight-bold text-muted">Fecha Final</label>
                                    @Html.TextBoxFor(a => a.Empleado.VacacionesProgramadasFinal, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", data_bind = "value: FechaFinalVacaciones" })
                                    @* @Html.TextBoxFor(a => a.Empleado.VacacionesProgramadasFinal, new { type = "date", @class = "form-control", data_bind = "value: FechaFinalVacaciones" }) *@
                                </div>
                            </div>
                            <span class="d-block mt-2 font-weight-bold text-warning small">
                                <i class="fa fa-plane"></i> @Model.Empleado.VacacionesProgramadas.ToString("dd/MM/yyyy") - @Model.Empleado.VacacionesProgramadasFinal.ToString("dd/MM/yyyy")
                            </span>
                        </div>
                    </div>
                </div>

                <h5 class="card-title text-primary mt-4">Datos Bancarios</h5>
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Tipo de banco</label>
                            <select class="form-control" asp-for="Empleado.TipoBanco" data-bind="value: TipoBanco">
                                <option value="Banco Privado">Banco Privado</option>
                                <option value="Banco Público">Banco Público</option>
                                <option value="Banco Mixto">Banco Mixto</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Tipo de cuenta bancaria</label>
                            <select class="form-control" asp-for="Empleado.TipoCuenta" data-bind="value: TipoCuenta">
                                <option value="Cuenta De Ahorros">Cuenta De Ahorros</option>
                                <option value="Cuenta Corriente">Cuenta Corriente</option>
                                <option value="Cuenta de Nómina">Cuenta de Nómina</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Numero de cuenta</label>
                            @Html.TextBoxFor(a => a.Empleado.NumeroCuenta, new { @class = "form-control", data_bind = "value: NumeroCuenta", type = "number" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Cuenta a nombre de:</label>
                            @Html.TextBoxFor(a => a.Empleado.NombreCuenta, new { @class = "form-control", data_bind = "value: NombreCuenta" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Nit Propietario Cuenta</label>
                            @Html.TextBoxFor(a => a.Empleado.NitPropietarioCuenta, new { type = "number", @class = "form-control", data_bind = "value: NitPropietarioCuenta" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Nombre Propietario Nit</label>
                            @Html.TextBoxFor(a => a.Empleado.NombrePropietarioNit, new { @class = "form-control", data_bind = "value: NombrePropietarioNit" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Tipo de regimen</label>
                            <select class="form-control" asp-for="Empleado.TipoRegimen" data-bind="value: TipoRegimen">
                                <option value="Regimen Privado">Regimen Privado</option>
                                <option value="Regimen Público">Regimen Público</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h5 class="card-title text-primary mt-3">Configuración y Firma <span class="text-danger"> * Obligatorio</span></h5>
                <div class="form-row align-items-center">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Fondo Calendario</label>
                            @Html.TextBoxFor(a => a.Empleado.ColorHexadecimalFondo, new { @class = "form-control", type = "color", data_bind = "value: ColorHexadecimalFondo" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Texto Calendario</label>
                            @Html.TextBoxFor(a => a.Empleado.ColorHexadecimalTexto, new { @class = "form-control", type = "color", data_bind = "value: ColorHexadecimalTexto" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Firma del Empleado</label>
                            <div class="d-flex align-items-center">
                                <div class="mr-3 shadow-sm" style="width: 50px; height: 50px; border: 1px solid #ced4da; border-radius: 8px; display: flex; align-items: center; justify-content: center; overflow: hidden; background: #fff;">
                                    <img data-bind="attr: { src: FirmaPrevisualizacion }, visible: FirmaPrevisualizacion()" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
                                    <i class="fas fa-signature text-muted" data-bind="visible: !FirmaPrevisualizacion()"></i>
                                </div>
                                <button type="button" class="btn btn-outline-primary shadow-sm" data-bind="click: prepararModalFirma">
                                    <i class="fas fa-pen mr-1"></i> Configurar Firma
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <label class="font-weight-bold">Observaciones</label>
                            @Html.TextAreaFor(a => a.Empleado.Observaciones, 4, 50, new { @class = "form-control", data_bind = "value: Observaciones" })
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <div class="clearfix">
                    <button type="button" class="btn btn-success btn-lg float-right shadow-sm" data-bind="click: modificarMedico">
                        <i class="fa fa-save mr-1"></i> Guardar Cambios
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>

<div id="mdl-firma-empleado" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:1055; align-items:center; justify-content:center;">
    <div id="mdl-firma-backdrop" style="position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);" onclick="window.cerrarModalFirmaEmpleado()"></div>
    <div style="position:relative; z-index:1; width:100%; max-width:800px; margin:auto; border-radius:14px; overflow:hidden; box-shadow:0 10px 40px rgba(0,0,0,0.3);">
        <div class="modal-content" style="border-radius:14px; overflow:hidden;">

            <div class="modal-header py-3" style="background:linear-gradient(135deg,#e3f2fd 0%,#bbdefb 100%);border-bottom:3px solid #1976d2;">
                <div class="d-flex align-items-center">
                    <div style="width:40px;height:40px;border-radius:10px;background:#bbdefb;display:flex;align-items:center;justify-content:center;margin-right:12px;">
                        <i class="fas fa-signature" style="color:#1976d2;"></i>
                    </div>
                    <div>
                        <h5 class="modal-title mb-0 font-weight-bold text-dark">Firma del Empleado</h5>
                        <small class="text-muted">Dibuje o suba una imagen de su firma</small>
                    </div>
                </div>
                <button type="button" class="close ml-auto" onclick="window.cerrarModalFirmaEmpleado()">
                    <i class="fas fa-times"></i>
                </button>
            </div>

            <div class="modal-body p-4" style="background:#f7f9fc;">
                <div id="selectorFirmaEmpleado">
                    <ul class="nav nav-pills mb-3 justify-content-center justify-content-sm-start" style="gap:8px;">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" id="tabCanvasFirmaEmpleado" onclick="window._switchFirmaTabEmpleado('canvas'); return false;">
                                <i class="fas fa-pen mr-1"></i> Dibujar firma
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="tabArchivoFirmaEmpleado" onclick="window._switchFirmaTabEmpleado('archivo'); return false;">
                                <i class="fas fa-upload mr-1"></i> Subir imagen
                            </a>
                        </li>
                    </ul>

                    <div id="panelCanvasFirmaEmpleado">
                        <div class="text-center w-100" style="background:#fff; border:2px dashed #c5cedd; border-radius:10px; overflow:hidden;">
                            <canvas id="canvasFirmaEmpleado" style="width: 100%; height: 200px; cursor:crosshair; touch-action:none; display:block;"></canvas>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <button type="button" class="btn btn-outline-secondary shadow-sm" onclick="window.limpiarCanvasFirmaEmpleado()">
                                <i class="fas fa-eraser mr-1"></i> Limpiar
                            </button>
                            <button type="button" class="btn btn-outline-success shadow-sm" onclick="window.usarCanvasFirmaEmpleado()">
                                <i class="fas fa-check mr-1"></i> Usar esta firma
                            </button>
                        </div>
                    </div>

                    <div id="panelArchivoFirmaEmpleado" class="d-none">
                        <div class="p-4 border rounded text-center shadow-sm" style="background:#fff;">
                            <i class="fas fa-image fa-3x text-muted mb-3"></i>
                            <p class="text-muted mb-3 font-weight-bold">Seleccione una imagen de la firma</p>
                            <p class="small text-muted mb-3">(Formatos aceptados: PNG, JPG)</p>
                            <div class="custom-file text-left mx-auto" style="max-width: 350px;">
                                <input type="file" class="custom-file-input" id="inputArchivoFirma" accept="image/png, image/jpeg, image/jpg" onchange="window.previsualizarArchivoFirmaEmpleado(this)" />
                                <label class="custom-file-label" for="inputArchivoFirma" data-browse="Buscar">Elegir archivo...</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="contenedorPrevFirmaEmpleado" class="d-none mt-2 text-center w-100">
                    <p class="small font-weight-bold text-muted text-uppercase mb-2">Vista previa de la nueva firma</p>
                    <div class="d-flex justify-content-center w-100">
                        <img id="imgPrevFirmaEmpleado" alt="Firma Temporal" class="shadow-sm" style="max-height:160px; max-width:100%; border:1px solid #dee2e6; border-radius:8px; padding:6px; background:#fff; display:none; object-fit:contain;" onload="this.style.display='inline-block';" onerror="this.style.display='none';" />
                    </div>
                    <div class="mt-3">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.resetearFirmaEmpleadoUI()">
                            <i class="fas fa-redo mr-1"></i> Cambiar firma
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="background:#fff;border-top:1px solid #e2e8f0;">
                <button type="button" class="btn btn-secondary shadow-sm" onclick="window.cerrarModalFirmaEmpleado()">
                    <i class="fas fa-times mr-1"></i> Cancelar
                </button>
                <button type="button" class="btn btn-primary font-weight-bold shadow-sm" id="btnConfirmarFirmaEmpleado" disabled data-bind="click: confirmarFirmaModal">
                    <i class="fas fa-save mr-1"></i> Confirmar Firma
                </button>
            </div>

        </div>
    </div>
</div>