@model sistema.Models.ModificarTodosResultadosViewModel;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    Layout = farmamest.Utilidades.SerSaludUiHelper.ResolverLayout(Configuration);
    ViewData["Title"] = "Modificar";

    // bool hayParasitos = false;
}
@{

    var parasitos = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Parasitos");
    var macroscopico = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Macroscopico");
    var microscopico = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Microscopico");
    var quimico = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Quimico");
    var sencible = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Sencible");
    var intermedio = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Intermedio");
    var resistente = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Resistente");
    var bioquimico = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Bioquimico");
    var citologico = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Citologico");
    var movilidad = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Movilidad");
    var morfologia = Model.DatosResultados.Any(r => r.DatosExamenesLabClinico?.Tipo == "Morfologia");
}




@{
    var cambio = true;
}
<style>
    .tipos {
        color: #1D50BD;
        font-weight: bold;
        font-size: 16px;
    }

    .standardized-table {
        width: 100%;
        table-layout: fixed; /*Las celdas de la tabla tengan un ancho fijo*/
    }

    .standardized-table th, .standardized-table td {
        width: 50%; /* cada columna oupa el 50 % de la tabla*/
        word-wrap: break-word; /* el tecto se ajusta dentro de la celda */
        text-align: left;
    }
</style>
@await Html.PartialAsync("_MensajeExito")




    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-12 text-center">
                    <h4><b>Modificar resultados de examen</b></h4>
                </div>
            </div>
        </div>
    </div>




<div class="main-card mb-3 card">
    <div class="card-body">
        <form asp-controller="LaboratorioClinico" asp-action="ModificarTodosResultadosExamen1" method="post">
            @Html.HiddenFor(a => a.ExamenId)
            @foreach (var item in Model.DetalleExamenenes)
            {
                <h3>@item.ExamenLabClinico.NombreExamen</h3>
                <div class="table-responsive">
                    <table class='table table-hover standardized-table' id="tableventa">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];
                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @if (string.IsNullOrEmpty(nombreTipo))
                                        {
                                            <td class="standardized-cell"><b>@nombreCampo</b></td>
                                            <td class="standardized-cell">
                                                <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>
                                        }
                                    }

                                </tr>
                            }
                          
                              

                            

                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {

                                
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @if (nombreTipo == "Macroscopico")
                                        {
                                            @if (cambio)
                                            {
                                            <tr>
                                                <td class="tipos">Macroscopicos</td>
                                            </tr>
                                                cambio = false;
                                            }
                                            <td><b>@nombreCampo</b></td>
                                            <td>
                                                <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>

                                        }
                                    }


                                </tr>
                            }
                            @{
                                cambio = true;
                            }

                           

                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @*  En casos de que el tipo de campo del examne pertenezca a parasitos *@
                                        @if (nombreTipo == "Parasitos")
                                        {
                                            @if (cambio)
                                            {
                                                <tr>
                                                    <td class="tipos">Parasitos</td>
                                                </tr>
                                                cambio = false;
                                            }
                                            @* hayParasitos = true; *@
                                            <td><b>@nombreCampo</b></td>
                                            <td>
                                                <div style="width: 120px; display: inline-block;">
                                                    <label><b>Huevos</b></label><br />
                                                    <input type="input" class="form-control" asp-for="DatosResultados[i].Huevos" />
                                                </div>
                                                <div style="width: 120px; display: inline-block;">
                                                    <label><b>Larvas</b></label><br />
                                                    <input type="input" class="form-control" asp-for="DatosResultados[i].Larvas" />
                                                </div>
                                                <div style="width: 120px; display: inline-block;">
                                                    <label><b>Quistes</b></label><br />
                                                    <input type="input" class="form-control" asp-for="DatosResultados[i].Quistes" />
                                                </div>
                                                <div style="width: 120px; display: inline-block;">
                                                    <label><b>Trofozoitos</b></label><br />
                                                    <input type="input" class="form-control" asp-for="DatosResultados[i].Trofozoitos" />
                                                </div>
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>


                                        }
                                    }

                                </tr>


                            }
                          
                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @if (nombreTipo == "Microscopico")
                                        {
                                            @if (cambio)
                                            {
                                                <tr>
                                                    <td class="tipos">Microscopico</td>
                                                </tr>
                                                cambio = false;
                                            }
                                            <td><b>@nombreCampo</b></td>
                                            <td>
                                                <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>

                                        }
                                    }

                                </tr>
                            }


                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                               
                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @if (nombreTipo == "Quimico")
                                        {
                                            var res = Model.DatosResultados[i];
                                            @if (cambio)
                                            {
                                                <tr>
                                                  <td class="tipos">Quimicos</td>
                                                </tr>
                                                cambio = false;
                                            }
                                            <td><b>@nombreCampo</b></td>
                                            <td>
                                                <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>

                                        }
                                    }


                                </tr>
                            }
                            @{
                                cambio = true;
                            }

                          

                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                     @if (item.Id == Model.DatosResultados[i].DetalleExamenId)
                                    {
                                        @if (nombreTipo == "Sencible")
                                        {
                                            
                                            @if (cambio)
                                            {
                                                <tr>
                                                    <td class="tipos">Sencibles</td>
                                                </tr>
                                                cambio = false;
                                            }
                                            <td><b>@nombreCampo</b></td>
                                            <td>
                                                <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                                <input type="hidden" asp-for="DatosResultados[i].Id">
                                                <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                                <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                            </td>

                                        }
                                    }


                                </tr>
                            }
                            @{
                                cambio = true;
                            }

                            @if (intermedio)
                            {
                                <tr>
                                    <td class="tipos">Intermedios</td>
                                </tr>

                            }

                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Intermedio")
                                    {
                                        @if (cambio)
                                        {
                                            <tr>
                                                <td class="tipos">Intermedios</td>
                                            </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }


                          
                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Resistente")
                                    {

                                       
                                        @if (cambio)
                                        {
                                    <tr>
                                        <td class="tipos">Resistentes</td>
                                    </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }

                           
                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Bioquimico")
                                    {
                                        
                                        @if (cambio)
                                        {
                                            <tr>
                                                <td class="tipos">Bioquimico</td>
                                            </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }

                            
                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Citologico")
                                    {
                                      
                                        @if (cambio)
                                        {
                                            <tr>
                                                <td class="tipos">Citologicos</td>
                                            </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }
                            @{
                                cambio = true;
                            }
                           

                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Movilidad")
                                    {
                                       
                                        @if (cambio)
                                        {
                                    <tr>
                                        <td class="tipos">Movilidad</td>
                                    </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }

                          
                            @{
                                cambio = true;
                            }
                            @for (int i = 0; i < Model.DatosResultados.Count(); i++)
                            {
                                var res = Model.DatosResultados[i];

                                var nombreCampo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Campos;
                                var nombreTipo = Model.DatosResultados[i].DatosExamenesLabClinico == null ? ""
                                : Model.DatosResultados[i].DatosExamenesLabClinico.Tipo;
                                <tr>
                                    @if (nombreTipo == "Morfologia")
                                    {
                                        @if (cambio)
                                        {
                                            <tr>
                                        <td class="tipos">Morfologicos</td>
                                            </tr>
                                            cambio = false;
                                        }
                                        <td><b>@nombreCampo</b></td>
                                        <td>
                                            <input class="form-control" asp-for="DatosResultados[i].ValorResultado" />
                                            <input type="hidden" asp-for="DatosResultados[i].Id">
                                            <input type="hidden" asp-for="DatosResultados[i].DetalleExamenId">
                                            <input type="hidden" asp-for="DatosResultados[i].DatosExamenesLabClinicoId">
                                        </td>

                                    }


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <button class="btn btn-success">Guardar resultados</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

    



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
}
