@using System.Security.Claims
@using Database.Shared.Enumeraciones
@using System.Runtime.InteropServices
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

@{
    var Cliente = Config["Cliente"] ?? "";
    var nombre = Config["EstablecimientoNombreEmpresa"] ?? "";
    // var tipoBodegaClinica = (int)TipoBodegaEnum.Clinica;
    // var tipoBodegaFarmacia = (int)TipoBodegaEnum.Farmacia;
    // var tipoBodegaBodega = (int)TipoBodegaEnum.Bodega;
    // var tipoBodegaLaboratorio = (int)TipoBodegaEnum.Laboratorio;
    var tipoProductoMedicamentos = (int)TipoProductoEnum.Medicamentos;
    var tipoProductoInsumos = (int)TipoProductoEnum.InsumosMedicos;
    var tipoProductoEquiposMedicos = (int)TipoProductoEnum.EquiposMedicos;
    var tipoProductoEquiposQuirurgicos = (int)TipoProductoEnum.EquiposQuirurgicos;
    var tipoProductoSuministros = (int)TipoProductoEnum.Suministros;

    //Background
    var background = "#0d1619";

    //Usuarios
    var usuarioCoordinadorSAP = User.IsInRole("Coordinador SAP");
    var usuarioCoordinadorRRHH = User.IsInRole("Coordinador RRHH");
    var usuarioAdmisiones = User.IsInRole("Admisiones");
    var usuarioRecepcion = User.IsInRole("Recepcion");
    var usuarioCoordinadorEnfermeria = User.IsInRole("Coordinador Enfermeria");
    var usuarioSupervisorEnfermeria = User.IsInRole("Supervisor Enfermeria");
    var usuarioEnfermeria = User.IsInRole("Enfermeria");
    var usuarioDireccionMedicos = User.IsInRole("Direccion Medicos");
    var usuarioCoordinadorMedicosResidentes = User.IsInRole("Coordinador Medicos Residentes");
    var usuarioMedicosResidentes = User.IsInRole("Medicos Residentes");
    var usuarioMedicosExternos = User.IsInRole("Medicos Externos");
    var usuarioCoordinadorFarmacia = User.IsInRole("Coordinador Farmacia");
    var usuarioEncargadoBodegaFarmacia = User.IsInRole("Encargado Bodega Farmacia");
    var usuarioAuxiliarFarmacia = User.IsInRole("Auxiliar Farmacia");
    var usuarioCoordinadorCompras = User.IsInRole("Coordinador Compras");
    var usuarioEncargadoBodega = User.IsInRole("Encargado Bodega");
    var usuarioCoordinadorFinanciero = User.IsInRole("Coordinador Financiero");
    var usuarioCoordinadorContable = User.IsInRole("Coordinador Contable");
    var usuarioAuxiliarContable = User.IsInRole("Auxiliar Contable");
    var usuarioCoordinadorCocina = User.IsInRole("Coordinador Cocina");
    var usuarioAuxiliarCocina = User.IsInRole("Auxiliar Cocina");
    var usuarioCoordinadorOperaciones = User.IsInRole("Coordinador Operaciones");
    var usuarioAuxiliarOperaciones = User.IsInRole("Auxiliar Operaciones");
    var usuarioVisitaMedica = User.IsInRole("Visita Medica");
    var usuarioSeguros = User.IsInRole("Seguros"); 
    var usuarioCoordinadorLaboratorios = User.IsInRole("Coordinador Laboratorio");
    var usuarioLaboratorio = User.IsInRole("Laboratorio");
    
    var usuarioAuditoria = User.IsInRole("Auditoria");
    var usuarioAdministrador = User.IsInRole("Administrador");
    
    var usuarioDesarrollador = User.IsInRole("Desarrollador");
    var usuarioSupervisorLaboratorio = User.IsInRole("Supervisor Laboratorio");
    var usuarioTecnicoLaboratorio = User.IsInRole("Tecnico laboratorio");
    var usuarioRecepcionDiurno = User.IsInRole("Recepcion Diurno");
    var usuarioRecepcionNocturno = User.IsInRole("Recepcion Nocturno");
    var usuarioFarmacia = User.IsInRole("Farmacia");
    var usuarioMedicoGeneral = User.IsInRole("Medico General");
    var usuarioMedicoInterno = User.IsInRole("Medico Interno");
    var usuarioMensajero = User.IsInRole("Mensajero");
    var usuarioTecnicoRadiologia = User.IsInRole("TecnicoRadiologia");
    var usuarioCaja = User.IsInRole("CAJA");
    var usuarioCajero = User.IsInRole("Cajero");
    var usuarioMonitoraSalon = User.IsInRole("MONITORA SALON");

    //*Radiologia
    var usuarioAdministradorRadiologia = User.IsInRole("administradorRadiologia");
    var usuarioRecepcionRadiologia    = User.IsInRole("RecepcionRadiologia");
    var usuarioRadiologia = User.IsInRole("Radiologia");

    var usuarioJefedeArea = User.IsInRole("Jefe de Area");
    var usuarioAsistente = User.IsInRole("Asistente");
    var usuarioGerenteAdministrativoFinanciero = User.IsInRole("Gerente Administrativo Financiero");
    var usuarioAuxiliarBodega = User.IsInRole("Auxiliar de Bodega");
    var usuarioEncargadoKardex = User.IsInRole("Encargado de Kardex");

}



<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@(string.IsNullOrWhiteSpace(Config["EstablecimientoPestana"]) ? ViewData["Title"] : Config["EstablecimientoPestana"])</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Build whatever layout you need with our Architect framework.">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="~/main.css" rel="stylesheet">
    <link href="~/css/jquery-ui.css" rel="stylesheet">
    <link href="~/css/select2.min.css" rel="stylesheet">
    <link href="~/css/select2-bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link href="~/css/sersalud-layout.css" rel="stylesheet">

    <!--Data tables CSS-->
    <link rel="stylesheet" href="~/js/DataTables/datatables.css" />

    <!--Daterangepicker CSS-->
    <link href="~/css/daterangepicker.css" rel="stylesheet">

    <!--Jquery Dialog-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
   
    <link rel="icon" type="image/x-icon" href="~/faviconSS.ico">

    @RenderSection("css", required: false)

    <link href="~/css/notification.css" rel="stylesheet">

    @await Html.PartialAsync("_LayoutLogoStyles", "SS")

</head>
<body>

    <div id="notif-container"></div>


    <div style="width:100%;height:100%;position:fixed;top:0;
        left:0;z-index:1030;background-color:black;opacity:95%;display:none" id="div-loading">
        <br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br />
        <center class="text-light" style="opacity:100%">
            <h1>Cargando...</h1><br />
            Esto puede tomar unos segundos...
        </center>
    </div>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header layout-sersalud-compact" id="menu-navegacion-izquierdo">
        <div class="app-header header-shadow header-text-light" style="background:@background; ">
            <div class="app-header__logo sersalud-header-logo d-none">
                @* Brand lives in sidebar column (client design) *@
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span style="display: none;">
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>    <div class="app-header__content">
            <div class="navbar-custom-container">
                <button class="navbar-toggler-custom" type="button" onclick="toggleMiMenu()">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse-custom" id="menuSincronizado">
                    <ul class="navbar-nav-custom">
                        @if (farmamest.Utilidades.SerSaludUiHelper.PuedeVerCalendarioCitas(User))
                        {
                            <li class="nav-item-custom">
                                <a href="@Url.Action("CalendarioLineal", "Cita", new { modo = "hospitalizacion" })" class="btn btn-warning btn-sm-custom">Citas - Calendario</a>
                            </li>
                        }

                        <li class="nav-item-custom">
                            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="m-0">
                                <button type="submit" class="btn btn-danger btn-sm-custom">Desconectarse</button>
                            </form>
                        </li>

                        <li class="nav-item-custom">
                            <div class="user-name-display">
                                <a class="nav-link text-light p-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    <span id="configuracion-nombre-establecimiento">@(Config["EstablecimientoPestana"] ?? Config["EstablecimientoNombreEmpresa"] ?? "SerSalud")</span>
                                </a>
                                <a class="nav-link text-light p-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    @farmamest.Utilidades.SerSaludUiHelper.ObtenerNombreUsuario(User) (@farmamest.Utilidades.SerSaludUiHelper.ObtenerRolVisible(User))
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

                <div class="app-header-left">
                    @* <div class="search-wrapper">
                    <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                    </div> *@
                    @* <ul class="header-menu nav">
                    <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    <i class="nav-link-icon fa fa-database"> </i>
                    Statistics
                    </a>
                    </li>
                    <li class="btn-group nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    <i class="nav-link-icon fa fa-edit"></i>
                    Projects
                    </a>
                    </li>
                    <li class="dropdown nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    <i class="nav-link-icon fa fa-cog"></i>
                    Settings
                    </a>
                    </li>
                    </ul>         *@
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0" style="display: none;">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        @if (usuarioAdministrador || usuarioMedicoGeneral
                                        || usuarioRecepcionDiurno || usuarioRecepcionNocturno
                                        || usuarioFarmacia || usuarioAdmisiones || usuarioCaja || usuarioCajero || usuarioMonitoraSalon || usuarioMedicoInterno || usuarioRecepcionRadiologia || usuarioAdministradorRadiologia)
                                        {
                                            @* <a href="@Url.Action("CalendarioLineal", "Cita", new { categoriaHabitacionId = 11 })" 
                                            class="btn btn-warning btn-sm form-inline"
                                            style="margin-right:0.5em">Sala de Operaciones</a>
                                            
                                            <a href="@Url.Action("CalendarioLineal", "Cita")" class="btn btn-warning btn-sm form-inline"
                                               style="margin-right:0.5em">Calendario</a>
                                            *@
                                            <a href="@Url.Action("CalendarioLineal", "Cita")" class="btn btn-warning btn-sm form-inline"
                                               style="margin-right:0.5em">Citas - Calendario</a>
                                        }
                                         @if (usuarioAdministrador || usuarioMedicoGeneral
                                        || usuarioRecepcionDiurno || usuarioRecepcionNocturno
                                        || usuarioFarmacia || usuarioAdmisiones || usuarioCaja || usuarioCajero || usuarioMonitoraSalon || usuarioMedicoInterno )
                                        {
                                            <a href="@Url.Action("AgendarCitaHospi", "Cita", new { 
                                                fecha = RuntimeInformation.IsOSPlatform(OSPlatform.Windows) 
                                                    ? TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Central America Standard Time")).ToString("yyyy-MM-dd HH:mm") 
                                                    : TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("America/Guatemala")).ToString("yyyy-MM-dd HH:mm") 
                                            })" class="btn btn-warning btn-sm form-inline" style="margin-right:0.5em">
                                                Admisiones
                                            </a> 
                                        }
                                        

                                        

                                        
                                        @if (usuarioAdministrador || usuarioCaja || usuarioCajero || usuarioRecepcionDiurno )
                                        {
                                            <a href="/Venta/NuevaVentaClinica" class="btn btn-primary btn-sm form-inline"
                                               style="margin-right:0.5em; color: white;">Clínica - Nueva venta</a>
                                        }
                                        @if (usuarioAdministrador || usuarioCaja || usuarioCajero || usuarioRecepcionDiurno || usuarioRecepcionDiurno )
                                        {
                                            <a href="/Venta/NuevaVentaFarmacia" class="btn btn-primary btn-sm form-inline"
                                               style="margin-right:0.5em; color: white;">Farmacia - Nueva venta</a>
                                        }
                                               @if(usuarioRecepcionRadiologia || usuarioAdministrador || usuarioCaja || usuarioCajero || usuarioAdministradorRadiologia || usuarioRecepcionDiurno){
                                            <a href="/Venta/NuevaVentaLaboratorio" class="btn btn-primary btn-sm form-inline"
                                               style="margin-right:0.5em; color: white;">Examenes Complementarios</a>
                                               }
                                        
                                        @if (usuarioTecnicoLaboratorio || usuarioSupervisorLaboratorio
                                        || usuarioAdministrador || usuarioMedicoGeneral
                                        || usuarioRecepcionDiurno || usuarioFarmacia ||  usuarioCoordinadorLaboratorios || usuarioTecnicoLaboratorio || usuarioRadiologia || usuarioCaja || usuarioCajero || usuarioMonitoraSalon || usuarioMedicoInterno || usuarioTecnicoRadiologia || usuarioRecepcionRadiologia || usuarioAdministradorRadiologia )
                                        {
                                            <a href="@Url.Action("ListaExamenesRealizados", "LaboratorioClinico", new { categoriaExcluir = "38" })" 
                                            class="btn btn-success btn-sm form-inline"
                                            style="margin-right:0.5em; color: white;">Exámenes</a>


                                            @if (usuarioAdministrador || usuarioRadiologia || usuarioTecnicoRadiologia || usuarioAdministradorRadiologia) 
                                            {
                                                <a href="@Url.Action("ListaExamenesRealizados", "LaboratorioClinico", new { categoriaLabClinico = "38" })" 
                                                class="btn btn-success btn-sm form-inline"
                                                style="margin-right:0.5em; color: white;">Radiología</a>
                                            }
                                        @if (usuarioAdministrador || usuarioRadiologia || usuarioTecnicoRadiologia ||usuarioRecepcionRadiologia || usuarioAdministradorRadiologia || usuarioMedicoInterno) 
                                            {
                                            <a href="@Url.Action("ListaExamenesRealizados", "LaboratorioClinico",new{estado="Finalizados"})" class="btn btn-warning btn-sm form-inline"
                                               style="margin-right:0.5em; color: white;">Resultados</a>
                                               }
                                        }

                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class=" btn btn-danger btn-sm ">Desconectarse</button>
                                        </form>
                                        @* <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" src="/assets/images/avatars/2.jpg" alt="">

                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="0" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                                        </form>
                                        <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                        </div> *@
                                    </div>



                                    @* <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="p-0 btn">
                                    <img width="45" class="rounded-circle" src="assets/images/avatars/2.jpg" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">

                                    <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                    <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                    <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                    </div>
                                    </div> *@
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">

                                        <a class="nav-link text-light p-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            <span id="configuracion-nombre-establecimiento"></span>
                                        </a>
                                        <a class="nav-link text-light p-0" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                            @farmamest.Utilidades.SerSaludUiHelper.ObtenerNombreUsuario(User) (@farmamest.Utilidades.SerSaludUiHelper.ObtenerRolVisible(User))
                                        </a>

                                    </div>

                                    

                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    @* <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                    <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="app-main">

            <div class="app-sidebar sidebar-shadow sidebar-text-light" style="background: #0d1619">
                <div class="app-header__logo sersalud-sidebar-brand">
                    @await Html.PartialAsync("_SidebarBrandSerSalud")
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="scrollbar-sidebar sersalud-sidebar-scroll">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            @await Html.PartialAsync("_SidebarMenuSerSalud")
                        </ul>
                    </div>
                </div>
            </div>

            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="tab-content">
                        @RenderBody()
                    </div>
                </div>
                <div class="app-wrapper-footer">
                    @* <div class="app-footer">
                    <div class="app-footer__inner">
                    <div class="app-footer-left">
                    <ul class="nav">
                    <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    Footer Link 1
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    Footer Link 2
                    </a>
                    </li>
                    </ul>
                    </div>
                    <div class="app-footer-right">
                    <ul class="nav">
                    <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    Footer Link 3
                    </a>
                    </li>
                    <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                    <div class="badge badge-success mr-1 ml-0">
                    <small>NEW</small>
                    </div>
                    Footer Link 4
                    </a>
                    </li>
                    </ul>
                    </div>
                    </div>
                    </div> *@

                    @* <footer class="bg-light text-center text-lg-start">
                    </br>
                    <p>
                    Dirección: Farmacia FARMAMEST. </br> Zona 1 6ta av. Barrio San Antonio </br>
                    Calle Caserio Panca, Solola.
                    </p>
                    </br>
                    </footer> *@

                </div>

            </div>
        </div>
    </div>

    @* <script type="text/javascript" src="~/js/jquery.js"></script> *@
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="@Html.Raw("https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")"></script>

    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.js"><\/script>');</script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@

    <!--Jquery UI-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    @*<script src="~/js/jquery-ui.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    

    <script type="text/javascript" src="~/lib/knockout/knockout-3.5.1.js"></script>
    <script type="text/javascript" src="~/js/selectHelpers.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/assets/scripts/main.js"></script>
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    @await Html.PartialAsync("_AppConfigScript")
    <script type="text/javascript" src="~/js/site.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.no-acceso').forEach(function (elemento) {
            elemento.addEventListener('click', function (e) {
                e.preventDefault();
                alert('No tienes acceso a esta funcionalidad.');
            });
        });
    });

    
</script>

<script>
function toggleMiMenu() {
        var menu = document.getElementById("menuSincronizado");
        menu.classList.toggle("show");
    }
    
    // Cerrar el menú si se hace clic fuera de él (sin bloquear navegación de enlaces)
    window.onclick = function(event) {
        if (event.target.closest('#menuSincronizado a[href]')) {
            return;
        }
        if (!event.target.matches('.navbar-toggler-custom') && !event.target.matches('.fa-bars')) {
            var menu = document.getElementById("menuSincronizado");
            if (menu && menu.classList.contains('show')) {
                menu.classList.remove('show');
            }
        }
    }
</script>

    <script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    @*  Libreria para generar los graficos *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
    <script type="module" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @RenderSection("Modales", required: false)
    @RenderSection("Scripts", required: false)

    <script type="text/javascript" src="~/js/notification.js"></script>

    @if (User.Identity?.IsAuthenticated == true)
    {
        var idleMinutes = Config.GetValue("SessionIdleMinutes", 30);
        <script src="~/js/session-idle.js" data-idle-minutes="@idleMinutes"></script>
    }

</body>
</html>
