
@model sistema.Models.EnvioBaseViewModel

@{
    decimal sumtotal = 0.00m;
    decimal sumsubtotal = 0.00m;
    decimal sumdescuento = 0.00m;
     int porc = 0;
}


@await Html.PartialAsync("_MensajeExito")
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>


@if(Model.Envio.EstadosEnvioId != 3 && Model.Envio.EstadosEnvioId != 4 && !User.IsInRole("Mensajero")){
<br/>
<button type="button" class="btn btn-primary" onclick="ModificarEnvio(@Model.Envio.Id)">Guardar Pedido</button>
<a href="@Url.Action("EnviaraRutaAdmin","Envio", new {id = @Model.Envio.Id})" class="btn btn-warning">Enviar a ruta</a>
//<a href="@Url.Action("RecibirPedido","Envio", new {id = @Model.Envio.Id})" class="btn btn-warning">Pedido Recibido</a>
<button type="button" class="btn  btn-warning" data-toggle="modal" onclick="LimpiarModal()" data-target=".bd-example2-modal-lg">Pedido Recibido</button>
<a href="@Url.Action("RechazarPedido","Envio", new {id = @Model.Envio.Id})" class="btn btn-warning">Pedido Rechazado</a>
<br/><br/>
<div class="col-md-12">
    <div class="position-relative form-group"><label class="">Buscar Producto</label>
        <input placeholder="Buscar Producto" class="form-control" id="buscartxt" type="text" />
        @* @Html.TextBoxFor(a => a.Producto.CodigoReferencia, new {@class="form-control",@id="Nit",
            @placeholder="Codigo De Producto"}) *@
        @* @Html.ValidationMessageFor(a => a.Producto.CodigoReferencia, "", new { @class =
            "text-danger"}) *@
    </div>
</div>

}


</br>

<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
            <span>Datos de la venta</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-2" data-toggle="tab" href="#tab-content-2">
            <span>Detalle de la venta</span>
        </a>
    </li>
    @if(Model.Envio.EstadosEnvioId != 3 && Model.Envio.EstadosEnvioId != 4 && !User.IsInRole("Mensajero")){
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-3">
            <span>Agregar Productos</span>
        </a>
    </li>
    }
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-3" data-toggle="tab" href="#tab-content-4">
            <span>Envio</span>
        </a>
    </li>
</ul>


<div class="form-row">
    <div class="col-md-12">
        <div class="tab-content">

            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="form">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">



                            <div class="card-body">
                                @* <button class="btn btn-primary" onclick="">prueba</button> *@
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">No.
                                                Comprobante</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Envio.NoComprobante, new
                                                                           {@class="form-control",@id="nocomprobante", @placeholder="No. Comprobante" })
                                            @Html.ValidationMessageFor(a => a.Envio.NoComprobante, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Codigo Del Vendedor</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Envio.EmpleadoId, new
                                                                           {@class="form-control",@id="empleadoid", @placeholder="Codigo Empleado"})
                                            @Html.ValidationMessageFor(a => a.Envio.EmpleadoId, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Cliente</label>
                                        <select class="form-control select2bs4 selectcliente" style="width: 100%;"
                                            asp-for="Envio.ClienteId" asp-items="@Model.ListaClientes" id="clienteselect">
                                        </select>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Nit</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Envio.Nit, new {@class="form-control",@id="Nit",
                                                                               @placeholder="Nit"})
                                            @Html.ValidationMessageFor(a => a.Envio.Nit, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Nombres</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Envio.Nombres, new
                                                                           {@class="form-control",@id="nombres", @placeholder="Nombres"})
                                            @Html.ValidationMessageFor(a => a.Envio.Nombres, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Direccion</label>
                                            @* <input placeholder="Descripción Producto" class="form-control"> *@
                                            @Html.TextBoxFor(a => a.Envio.DireccionExacta, new
                                                                           {@class="form-control",@id="direccion", @placeholder="Direccion"})
                                            @Html.ValidationMessageFor(a => a.Envio.DireccionExacta, "", new { @class =
                                                                               "text-danger"})
                                        </div>
                                    </div>
                                </div>

                               
                            </div>



                        </div>
                    </div>
                </div>



            </div>




            <div class="tab-pane tabs-animation fade show " id="tab-content-2" role="tabpanel">

                <div class="main-card mb-3 card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class='table table-hover' id="tableventa">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Nombre Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>  %  </th>
                                        <th>Descuento</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                        @if(Model.Envio.EstadosEnvioId != 3 && Model.Envio.EstadosEnvioId != 4 && !User.IsInRole("Mensajero")){
                                        <th>Acciones</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="contentdetalle">

                                     @if(Model != null)
                                    {
                                        foreach (var item in Model.Envio.DetalleEnvios)
                                        {
                                            if(item.Descuento == 0 || item.Subtotal == 0){
                                                porc = 0;
                                            }
                                            else 
                                            {
                                                porc = Convert.ToInt32((item.Descuento / item.Subtotal) * 100);
                                            }

                                        <tr>
                                        <td>@item.Producto.CodigoReferencia</td>
                                        <td>@item.Producto.NombreProducto</td>
                                        <td>@item.Cantidad</td>
                                        <td>@item.Precio</td>
                                        <td>@porc</td>
                                        <td class="desc-t">@item.Descuento</td>
                                        <td class="subtotal-t">@item.Subtotal</td>
                                        <td class="total-t">@item.Total</td>
                                        @if(Model.Envio.EstadosEnvioId != 3 && Model.Envio.EstadosEnvioId != 4 && !User.IsInRole("Mensajero")){
                                        <td><button  type="button"  class="btn btn-danger btn-sm" onclick="eliminarFila(this,@item.Precio)">Quitar</button></td>
                                        }
                                        <td style="display: none;" class="idProd">@item.Id</td>
                                    </tr>
                                        sumdescuento += item.Descuento;
                                        sumsubtotal += item.Subtotal;
                                        sumtotal += item.Total;

                                    }
                                    }

                                </tbody>
                                
                            </table>


                        </div>

                            <br/>
                            
                            <div class="text-right" style="font-size: 25px;">
                                <span>Subtotal:</span> 
                            Q <span id="subtotal-venta">0.00</span> 
                            </div> 

                            <div class="text-right"  style="font-size: 25px;">
                                 <span>Descuento:</span> 
                                 Q <span id="descuento-venta">0.00</span>           
                            @* Q <label id="descuentoventa" contenteditable="true" style="white-space:nowrap; word-wrap: break-word;">0.00</label>  *@
                            </div> 

                            <div class="text-right" style="font-size: 25px;">
                                <span>Total:</span> 
                            Q <span id="precio-total-a-pagar">0.00</span> 
                            </div> 


                        @* <h1>Detalle de la venta</h1> *@

                    </div>
                </div>
            </div>

                <div class="tab-pane tabs-animation fade show " id="tab-content-3" role="tabpanel">
                                                <br />
                            <form asp-action="Nuevo" method="get">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <input value="Buscar" class="btn btn-success" onclick="FiltrarProductos(document.getElementById('buscarfiltro').value)"></input>
                                        </div>
                                        <input type="text" name="buscar" id="buscarfiltro" class="form-control"
                                            placeholder="Buscar Producto...">
                                    </div>
                                </div>
                            </form>
                            <br />

                            <div class="main-card mb-6 card">
                                <div class="container-fluid">
                                    <div class="list" id="listafiltro">

                                        @foreach (var item in Model.ListaProductos)
                                        {
                                            <article class="list--item"
                                                onclick="agregardetalle('@item.CodigoReferencia')">
                                                <figure>
                                                    <img src="/assets/images/nodisponible.png"
                                                        alt="@item.Descripcion">
                                                    <header>
                                                        <div class="floater">
                                                            @item.Stock
                                                        </div>
                                                        <h2>@item.NombreProducto | @item.CodigoReferencia</h2>
                                                    </header>
                                                    <figcaption>
                                                        <h2>Q @item.Precio</h2>
                                                    </figcaption>
                                                </figure>
                                            </article>
                                        }
                                    </div>
                                </div>
                            </div>

                </div>

             <div class="tab-pane tabs-animation fade show " id="tab-content-4" role="tabpanel">
                    <div class="form">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">



                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"> <label>Usuario de piloto</label>
                                        <select class="form-control select2bs4 selectrutas" style="width: 100%;"
                                             id="usuarioselect">
                                             @if(Model.Envio.User == null){

                                                 <option selected value="">Sin Asignar</option>
                                                 @foreach(var item in Model.ListaUsuarios){
                                               
                                                      <option value="@item.Id">@item.UserName</option>
                                                  }
                                                     
                                             
                                             }
                                             else
                                             {
                                                @foreach(var item in Model.ListaUsuarios){
                                               
                                                  if(Model.Envio.User.Id == item.Id){
                                                      <option selected value="@item.Id">@item.UserName</option>
                                                  }
                                                  else
                                                  {
                                                      <option value="@item.Id">@item.UserName</option>
                                                  }
                                                     
                                             } 
                                             }
                                             
                                            
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Ruta</label>
                                        <select class="form-control select2bs4 selectrutas" style="width: 100%;"
                                            asp-for="Envio.RutaId" asp-items="@Model.ListaRutas" id="rutaselect">
                                        </select>
    
                                    </div>

                                </div>
                                 <div class="form-row">
                                    <div class="col-md-12">
                                        @* <div class="position-relative form-group"><label class="">Fecha Entrega</label>
                                           
                                            @Html.TextBoxFor(a => a.Envio.FechaEntrega, new
                                                                           {type="date",@class="form-control",@id="fechalimite",
                                                                               @placeholder="Fecha Inicio"})
                                            @Html.ValidationMessageFor(a => a.Envio.FechaEntrega, "", new { @class =
                                                                               "text-danger"})
                                        </div> *@

                                        <label>Fecha y Hora de entrega</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control float-right" id="reservationtime">
                                        </div>
                                   
                                    </div>
                                  
                                </div>
                                <div class="form-row">
                                    
                                    <div class="col-md-12">
                                 <div class="position-relative form-group">
                                  <label class="">Direccion Exacta</label>
                                 @Html.TextAreaFor(a => a.Envio.DireccionExacta,5,500 ,htmlAttributes : new {
                                       @class="form-control ", @placeholder="Direccion Exacta", @id="direccionexacta", @style="max-width:100% !important;"})
                                  @Html.ValidationMessageFor(a => a.Envio.DireccionExacta, "", new { @class = "text-danger"})
                                </div>
                                 </div>
                                 
                                </div>
                                </div>

                               
                            </div>



                        </div>
                    </div>
                  </div>



            </div>

                

        </div>

    </div>

    
</div>




@section Scripts
{
<script src="~/js/FuncionesEnvio.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/daterangepicker.js"></script>
<script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
    $(function(){
        $('.select2').select2({
            tags: true
        });
        
    $('.select2bs4').select2({
      theme: 'bootstrap4',
      tags: true,
    });

          $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    singleDatePicker: true,
                    startDate: '@Model.Envio.FechaEntrega',
                    //endDate: '@Model.Envio.FechaEntrega',
                    locale: {
                        format: 'MM/DD/YYYY hh:mm A'
                    }
                });
    });


    
</script>
}

@section css
{
    <link href="~/css/daterangepicker.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
}

 @section Modales
{


@* -------------------------------------- Modal del envio ----------------------------------------------- *@

<div class="modal fade bd-example2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forma De Pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <div class="form-row">
                                  @* <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label class="">Forma de pago</label>
                                            <select name="" id="selectformapago2" class="form-control">
                                                <option value="Efectivo">Efectivo</option>
                                                <option value="Tarjeta de debito">Tarjeta de debito</option>
                                                <option value="Tarjeta de credito">Tarjeta de credito</option>
                                                <option value="Cheque">Cheque</option>

                                            </select>
                                        </div>
                                    </div> *@

                                     <div class="col-md-6">
                                        <label>Forma de Pago</label>
                                        <select class="form-control select2bs4 selectcliente" style="width: 100%;"
                                            asp-items="@Model.ListaFormaPagos" id="formapagoselect">
                                        </select>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group"><label class="">Monto Pagado</label>
                                            <input placeholder="Monto Pagado" id="montoenviotxt" type="number" class="form-control">
                                        
                                        </div>
                                    </div>
                                    <br/>
                                   
                                    
                                   
                        </div>
                   
                         <div class="text-center" style="font-size: 18px; text-align: center;">
                                        
                                        

                                        <div class="">
                                        
                                            <div class="tabel-text-total">
                                            <span>Total:</span>
                                            </div>

                                            <div class="label-total-t">
                                            <span style="font-weight: 800;" id="total-a-pagar-envio">0.00</span>
                                            </div>
                                        
                                        </div>
                                         <div class="">
                                        
                                            <div class="tabel-text-total">
                                            <span>Saldo:</span>
                                            </div>

                                            <div class="label-total-t">
                                            <span style="font-weight: 800;" id="total-saldo-envio">0.00</span>
                                            </div>
                                        
                                        </div>

                                        <div class="">
                                            <div class="">
                                                <span>Vuelto:</span>
                                            </div>
                                            <div class="">
                                                <span  style="font-weight: 800;" id="vuelto-envio">0.00</span>                                                
                                            </div>
                                        </div>
                             </div> 
                   


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="RecibirEnvio(@Model.Envio.Id)">Listo</button>
            </div>
        </div>
    </div>
</div>





}                           
                                
